body {
  background-color: rgb(169, 193, 197);
}

.fontchanger {
  font-family: Arial, Helvetica, sans-serif;
}

.scrollBoxBio {
  overflow-y: scroll;
  border-radius: 25px;
  background-color: rgb(123, 170, 179);
  border: solid;
  border-radius: 20px;
  border-width: 1.5px;
  border-color: rgb(87, 129, 138);
  box-shadow: 0px 0px 5px rgb(20, 60, 100);
  padding-left: 25px;
}

button {
  border-radius: 20px;
  background-color: rgb(123, 170, 179);
  border-width: 1.5px;
  border-color: rgb(87, 129, 138);
  box-shadow: 0px 0px 5px rgb(20, 60, 100);
}

h2 {
  color: rgb(58, 7, 5);
}

h3 {
  color: rgb(58, 7, 5);
}

h4 {
  color: rgb(58, 7, 5);
}

h1>a:link {
  color: rgb(85, 8, 5);
}

h1>a:visited {
  color: rgb(85, 5, 38);
}

h1>a:hover {
  color: rgb(95, 15, 48);
}

h1>a:active {
  color: rgb(49, 4, 23);
}

h3>a:link {
  color: rgb(85, 8, 5);
}

h3>a:visited {
  color: rgb(85, 5, 38);
}

h3>a:hover {
  color: rgb(95, 15, 48);
}

h3>a:active {
  color: rgb(49, 4, 23);
}

p>a:link {
  color: rgb(85, 8, 5);
}

p>a:visited {
  color: rgb(85, 5, 38);
}

p>a:hover {
  color: rgb(95, 15, 48);
}

p>a:active {
  color: rgb(49, 4, 23);
}

li>a:link {
  color: rgb(85, 8, 5);
}

li>a:visited {
  color: rgb(85, 5, 38);
}

li>a:hover {
  color: rgb(95, 15, 48);
}

li>a:active {
  color: rgb(49, 4, 23);
}

#downloadResume {
  font-size: 50pt;
  color: rgb(20, 60, 100);
  cursor: pointer;
}

p {
  font-size: 14pt;
  color: rgb(58, 7, 5);
}

ul {
  font-size: 14pt;
  color: rgb(58, 7, 5);
}

ol {
  font-size: 14pt;
  color: rgb(58, 7, 5);
}

.imageEffects {
  border: solid;
  border-color: rgb(20, 60, 100);
  border-width: 5px;
  border-radius: 500px;
  box-shadow: 0px 0px 10px rgb(73, 121, 168);
}

iframe {
  border-radius: 20px;
}

h3 + img {
  border-radius: 20px;
}