body {
  background-color: rgb(247, 225, 156);
}

.fontchanger {
  font-family: Arial, Helvetica, sans-serif;
}

.scrollBoxBio {
  overflow-y: scroll;
  border-radius: 25px;
  background-color: rgb(240, 212, 130);
  border: solid;
  border-radius: 20px;
  border-width: 1.5px;
  border-color: rgb(223, 194, 108);
  box-shadow: 0px 0px 5px rgb(20, 60, 100);
}

button {
  border-radius: 20px;
  background-color: rgb(240, 212, 130);
  border-width: 1.5px;
  border-color: rgb(223, 194, 108);
  box-shadow: 0px 0px 5px rgb(20, 60, 100);
}

a {
  text-decoration: none;
}

h2 {
  color: rgb(20, 60, 100);
}

h3 {
  color: rgb(20, 60, 100);
}

h4 {
  color: rgb(20, 60, 100);
}

h1>a:link {
  color: rgb(20, 60, 100);
}

h1>a:visited {
  color: rgb(20, 0, 100);
}

h1>a:hover {
  color: rgb(20, 60, 0);
}

h1>a:active {
  color: rgb(100, 60, 200);
}

h3>a:link {
  color: rgb(20, 60, 100);
}

h3>a:visited {
  color: rgb(20, 0, 100);
}

h3>a:hover {
  color: rgb(20, 60, 0);
}

h3>a:active {
  color: rgb(100, 60, 200);
}

p>a:link {
  color: rgb(20, 60, 100);
}

p>a:visited {
  color: rgb(20, 0, 100);
}

p>a:hover {
  color: rgb(20, 60, 0);
}

p>a:active {
  color: rgb(100, 60, 200);
}

li>a:link {
  color: rgb(20, 60, 100);
}

li>a:visited {
  color: rgb(20, 0, 100);
}

li>a:hover {
  color: rgb(20, 60, 0);
}

li>a:active {
  color: rgb(100, 60, 200);
}

#downloadResume {
  font-size: 14pt;
  color: rgb(20, 60, 100);
  cursor: pointer;
}

p {
  font-size: 14pt;
  color: rgb(20, 60, 100);
}

ul {
  font-size: 14pt;
  color: rgb(20, 60, 100);
}

ol {
  font-size: 14pt;
  color: rgb(20, 60, 100);
}

.imageEffects {
  border: solid;
  border-color: rgb(20, 60, 100);
  border-width: 5px;
  border-radius: 500px;
  box-shadow: 0px 0px 10px rgb(20, 60, 100);
}

iframe {
  border-radius: 20px;
}

h3 + img {
  border-radius: 20px;
}